/*
 * SSD1306 OLED over SPI. Uses the same SCK/MOSI/CS wiring convention
 * as this curriculum's non-OS SPI labs (MOSI=11, MISO=13, SCK=12) -
 * MISO is unused by this write-only display but the pin is still
 * routed for consistency with other SPI labs sharing the same bus.
 *
 * Requires a 7-pin SPI variant of the SSD1306 module (VCC, GND, SCK,
 * SDA/MOSI, RES, DC, CS) - the common 4-pin I2C-only module used in
 * Lab 2 will NOT work here.
 */

&pinctrl {
	spim2_default: spim2_default {
		group1 {
			pinmux = <SPIM2_MISO_GPIO13>, <SPIM2_SCLK_GPIO12>;
		};
		group2 {
			pinmux = <SPIM2_MOSI_GPIO11>;
			output-low;
		};
	};
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;   /* CS */

	oled_spi: ssd1306@0 {
		compatible = "solomon,ssd1306";
		reg = <0>;
		spi-max-frequency = <4000000>;
		data-cmd-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;  /* RES */
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};

/ {
	chosen {
		zephyr,display = &oled_spi;
	};
};
